.App {
  width: 900px;
  height: 600px;
  border: 1px solid red;
  margin-top: 100px;
  margin-left: 200px;
}

.App button {
  height: 50px;
  width: 50px;
  padding: 10px;
  margin: 10px;
}
.App ul {
  font-size: larger;
  font-weight: bold;
}

.App img {
  height: 300px;
  width: 300px;
  padding: 10px;
  margin: 10px;
}
